@font-face {
    font-family: comic;
    src: url(newcomictitle.ttf);
}

@font-face {
    font-family: slim;
    src: url(slim.otf);
}

@font-face {
    font-family: nixie;
    src: url(nixie.ttf);
}

/***sidebar***/
.sidebar{
    position: fixed;
    z-index: 10;
    right: 0;
    top:0;;
    bottom:0;;
    width:50px;
    background-color: #cdc5c5;
    animation: 1s;
    float:left;
}

.sidebar .hero{
    position: relative;
    z-index: 11;
    right: 0;
    width:100%;
    height:25%;
    background-color: #38cd19;
    animation: 1s;
}

.sidebar .location{
    position: relative;
    z-index: 11;
    right: 0;
    width:100%;
    height:25%;
    background-color: #cdbc4a;
    animation: 1s;
}

.sidebar .players{
    position: relative;
    z-index: 11;
    right: 0;
    width:100%;
    height:25%;
    background-color: #cd238c;
    animation: 1s;
}

.sidebar .villian{
    position: relative;
    z-index: 11;
    right: 0;
    width:100%;
    height:25%;
    background-color: #1e6dcd;
    animation: 1s;
}




/***prompts***/

.prompt {
    background-color: rgba(72, 71, 71, 0.53);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.prompt .box {
    width: 70%;
    height: 70%;
    z-index: 3;
    background-color: white;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 14px 4px rgba(0, 0, 0, 0.53);
    padding: 25px 50px 0 50px;
}

.prompt .title {
    text-align: center;
    font-family: comic, serif;
}

.prompt .description {
    text-align: justify;
    font-weight: bold;
    font-family: nixie, serif;
}

.prompt .options{
    position: relative;
    padding-left:0;
}

.prompt .option{
    /*border-radius:20px;
    /*border: solid 2px #715faf;*/
    padding-left:10px;
    line-height: 35px;
    margin: 10px 0 10px 0;
    position: relative;
    background: #cadafa;
    list-style: none;
    font-family: nixie, serif;
}

.prompt .option:hover{
    line-height: 35px;
    margin: 10px 0 10px 0;
    padding-left:10px;
    position: relative;
    background: #715caf;
    color: #cadafa;
    list-style: none;
    font-family: nixie, serif;
    box-shadow: rgba(58, 58, 58, 0.61) -2px 2px 13px 0px
}

/***cards***/

.card {
    position: relative;
    height: 230px;
    width: 190px;
    display: inline-block;
    flex-basis: auto;
    margin: 5px;
    color: #000000;
}

.card .name {
    padding: 3% 5%;
    height: 5%;
    font-size: medium;
    font-family: comic, serif;
    text-align: left;
}

.card .description{
    margin:0;
    height: 28%;
    padding: 2% 5%;
    font-size: 65%;
    font-family: nixie, serif;
    font-weight: bolder;
    text-align: left;
}

.card .cardType {
    height: 6%;
    padding: 2% 5%;
    font-size: small;
    font-family: arial, serif;
    text-align: left;
}

.card .avatar {
    width: 100%;
    height: 40%;
    border: 0;
}

.card .victory {
    background-color: #ffcd6a;
    height: 100%;
    width: 25%;

}

.card .cost {
    background-color: #ff507c;
    height: 100%;
    width: 25%;
}

.Hero {
    background-color: #00A6E7;
}

.Villain {
    background-color: #e73620;
}

.Super_Power {
    background-color: #e78f41;
}

.Starter {
    background-color: #ffed2c;
}

.Super_Hero {
    background-color: #000000;
    height: 280px;
    width: 230px;
    max-width: 250px;
    max-height: 400px;
}

.center {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.center-bottom {
    width: 100%;
    background-color: black;
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
}

