mixin prompt(prompt,card)
    div(class='prompt background')
        div(class='box')
            h1(class='title') Hola
            p(class='description') long ass text while true content is set over here long ass text while true content is set over here long ass text while true content is set over herelong ass text while true content is set over herelong ass text while true content is set over herelong ass text while true content is set over herelong ass text while true content is set over herelong ass text while true content is set over herelong ass text while true content is set over herelong ass text while true content is set over herelong ass text while true content is set over herelong ass text while true content is set over here
            ul(class='options')
                li(class='option') Option 1
                li(class='option') Option 2
                li(class='option') Option 3
            div(class='cards') Other cards