mixin prompt(prompt,card)
    div(class='prompt background')
        div(class='box')
            h1(class='title')=  prompt.title
            p(class='description')= prompt.description
            ul(class='options')
                each val,index in prompt.options
                    li(class='option' onclick='alert('+index+')')=val                
            div(class='cards') Other cards