mixin sidebar()
    div(class='sidebar')
        div(class='tabs')
            div(class='villian')
            div(class='players')
            div(class='location')
            div(class='hero')
        div(class='vcontent') Contenido;

